@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=The+Nautigal:wght@700&display=swap');
*{
 border: 0;
 margin: 0;
 padding: 0;
 outline: 0;
 box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif ;
}
.container{
    max-width: 1200px;
    margin:o auto;
}
.title{
    padding: 12px 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: flex-end;
}
.navbar li{
    list-style: none;
    margin: 10px;
}
.navbar li a{
    padding: 17px 20px;
    line-height: 30px;
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    background-color: gray;
}
.button{
   background-color:rgb(122, 8, 48) ;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-weight: 800;
    padding: 10px 30px ;
    text-align: center;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-left{
    margin-left:18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-right img{
    width: 100%;
}